<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-assunto-heading" data-cy="AssuntoCreateUpdateHeading">Create or edit a Assunto</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_codigoassunto">Codigoassunto</label>
          <input
            type="number"
            class="form-control"
            name="codigoassunto"
            id="field_codigoassunto"
            data-cy="codigoassunto"
            formControlName="codigoassunto"
          />
          <div
            *ngIf="
              editForm.get('codigoassunto')!.invalid && (editForm.get('codigoassunto')!.dirty || editForm.get('codigoassunto')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('codigoassunto')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('codigoassunto')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_carga">Carga</label>
          <input type="number" class="form-control" name="carga" id="field_carga" data-cy="carga" formControlName="carga" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_idprofessor">Idprofessor</label>
          <input
            type="number"
            class="form-control"
            name="idprofessor"
            id="field_idprofessor"
            data-cy="idprofessor"
            formControlName="idprofessor"
          />
          <div *ngIf="editForm.get('idprofessor')!.invalid && (editForm.get('idprofessor')!.dirty || editForm.get('idprofessor')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('idprofessor')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('idprofessor')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
