<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="assunto">
      <h2 data-cy="assuntoDetailsHeading"><span>Assunto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ assunto.id }}</span>
        </dd>
        <dt><span>Codigoassunto</span></dt>
        <dd>
          <span>{{ assunto.codigoassunto }}</span>
        </dd>
        <dt><span>Nome</span></dt>
        <dd>
          <span>{{ assunto.nome }}</span>
        </dd>
        <dt><span>Carga</span></dt>
        <dd>
          <span>{{ assunto.carga }}</span>
        </dd>
        <dt><span>Idprofessor</span></dt>
        <dd>
          <span>{{ assunto.idprofessor }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/assunto', assunto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
