<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-aluno-heading" data-cy="AlunoCreateUpdateHeading">Create or edit a Aluno</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_matriculaaluno">Matriculaaluno</label>
          <input
            type="number"
            class="form-control"
            name="matriculaaluno"
            id="field_matriculaaluno"
            data-cy="matriculaaluno"
            formControlName="matriculaaluno"
          />
          <div
            *ngIf="
              editForm.get('matriculaaluno')!.invalid && (editForm.get('matriculaaluno')!.dirty || editForm.get('matriculaaluno')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('matriculaaluno')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('matriculaaluno')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cpf">Cpf</label>
          <input type="text" class="form-control" name="cpf" id="field_cpf" data-cy="cpf" formControlName="cpf" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sexo">Sexo</label>
          <input type="text" class="form-control" name="sexo" id="field_sexo" data-cy="sexo" formControlName="sexo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cursoaluno">Cursoaluno</label>
          <select class="form-control" name="cursoaluno" formControlName="cursoaluno" id="field_cursoaluno" data-cy="cursoaluno">
            <option [ngValue]="null"></option>
            <option value="ENGENHARIA">ENGENHARIA</option>
            <option value="DE">DE</option>
            <option value="COMPUTACAO">COMPUTACAO</option>
            <option value="SISTEMAS">SISTEMAS</option>
            <option value="INFORMACAO">INFORMACAO</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
